params {
    input = 'links.txt'
    resultsDir = 'results'
    sample_fraction = 0.001

    samtools='samtools/1.4'
}

process {
    cpus = 1
    maxForks = 2
    errorStrategy = 'retry'
    maxRetries = 1
}

timeline {
    enabled = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
		process.memory = 2.GB
    }

    slurm {
        params.samtools = 'samtools/1.4-foss-2017a'
        process.executor = 'slurm'
        process.clusterOptions = '--qos=short'
        process.memory = 2.GB
        process.time = 1.h
    }
}
