/*
vbcf-nf nextflow config
*/

params {
    input = 'links.txt'
    resultsDir = 'results'
    sample_fraction = 0.001
}

profiles {

    standard {
        includeConfig 'conf/resources.config'
    }

    singularity {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
    }

    ii2 {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/ii2.config'
    }
}
