/*
Resource management
*/

process {

    // error strategy
    errorStrategy='retry'
    maxRetries=1
    
    // basic resources
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
    time = { 2.h * task.attempt }

    // process-specific resources
    withName: SAMPLE {
        cpus = { 8 }
        memory = { 10.GB * task.attempt }
    }
}

timeline {
    enabled = true
}
